@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  transition: transform 0.5s ease, filter 0.5s ease;
}

.image-container:hover img {
  transform: scale(1.2);
  filter: blur(4px);
}

.overlay-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 1200;
  font-style: italic;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 640px) {
  .overlay-text {
    font-size: 1rem;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .overlay-text {
    font-size: 1.25rem;
  }
}

@media (min-width: 769px) {
  .overlay-text {
    font-size: 1.5rem;
  }
}

.image-container:hover .overlay-text {
  opacity: 1;
}

.flip-font {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

@media (max-width: 640px) {
  .flip-font {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .flip-font {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

@media (min-width: 769px) {
  .flip-font {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
